@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root{
   --main-color:#29d978;
   --primary:#f0fff7;
   --black:#141414;
   --white:#fff;
   --bg: #f2f2f2;
   --light-black:#666;
}

*{
   font-family: 'Poppins', sans-serif;
   margin: 0; padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none; text-decoration: none;
   text-transform: capitalize;
   transition: .2s linear;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6rem;
}

html::-webkit-scrollbar{
   width: 1rem;
}

html::-webkit-scrollbar-track{
   background: var(--white);
}

html::-webkit-scrollbar-thumb{
   background: var(--main-color);
}

section{
   padding: 3rem 9%;
}

.heading{
   text-align: center;
   color: var(--main-color);
   text-transform: uppercase;
   margin-bottom: 4rem;
   margin-top: 2rem;
   font-size: 4rem;
}

.btn{
   display: inline-block;
   margin-top: 1rem;
   padding: 1rem 3rem;
   border: .1rem solid var(--main-color);
   border-radius: .5rem;
   cursor: pointer;
   font-size: 1.7rem;
   color: var(--black);
   background-color: var(--white);
   opacity: 100%;
}

.btn:hover{
   background: var(--main-color);
   border: .1rem solid var(--main-color);
   color: var(--white);
   background-color: var(--main-color);
   opacity: 150%;
}

/* header */

.header{
   position: fixed;
   top: 0; left: 0;
   right: 0;
   z-index: 1000;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 2rem 9%;
   background: var(--primary);
   box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}

.header .logo{
   font-size: 2.2rem;
   font-weight: bolder;
   color: var(--main-color);
   display: inline-flex;
}


.header .navbar a{
   font-size: 1.7rem;
   margin-left: 2rem;
   color: var(--black);
}

.header .navbar a:hover{
   color: var(--main-color);
}

#menu{
   font-size: 2.5rem;
   cursor: pointer;
   color: var(--main-color);
   display: none;
}

/* end */

/* home */

.home{
   min-height: 90vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background: url(images/cover-photo.JPG) no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

.home .content{
   max-width: 60rem;
   text-align: center;
}

.home .content h3{
    margin-top: -8rem;
   font-size: 5rem;
   text-transform: uppercase;
   color: var(--white);
   padding-bottom: 3.5rem;
   text-shadow: 2px 2px 5px rgb(22, 35, 29);
}

/* end */

/* about */

.about .row{
   /*display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 2rem;

   */
   text-align: center;
   margin-top: 2rem;
}

.about .row .content{
   flex: 1 1 40rem;
}

.about .row .content h3{
   font-size: 3.5rem;
   color: var(--black);
   text-transform: uppercase;
}

.about .row .content p{
   font-size: 1.6rem;
   color: var(--light-black);
   padding: 2rem 0;
   line-height: 2;
   text-transform: initial;
}


.about .row .image{
   flex: 1 1 40rem;
}

.about .row .image img{
   width: 100%;
}

/* end */



/* project */

/* end */

/* footer */

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap: 1.5rem;
}

.footer .box-container .box h3{
   font-size: 2rem;
   padding: 1.5rem 0;
   color: var(--main-color);
}

.footer .box-container .box .image{
   padding: auto;
   margin-right: 10;
   width: 150;
   height: auto;
}

.footer .box-container .box a{
   display: block;
   font-size: 1.4rem;
   color: var(--black);
   padding: 1rem 0;
}

.footer .box-container .box a i{
   color: var(--main-color);
   padding-right: .5rem;
}

.footer .box-container .box a:hover i{
   padding-right: 2rem;
}

.footer .credit{
   text-align: center;
   margin-top: 2.5rem;
   padding: 1rem;
   padding-top: 2.5rem;
   font-size: 2rem;
   color: var(--black);
}

.footer .credit span{
   color: var(--main-color);
}



/* end */

/* media query */

@media(max-width:991px){

   html{
      font-size: 55%;
   }

   .header{
      padding: 2rem 3rem;
   }

   section{
      padding: 3rem 5rem;
   }

}

@media(max-width:768px){

   #menu{
      display: inline-block;
   }

   .header .navbar{
      position: absolute;
      top: 99%; left: 0; right: 0;
      background: var(--primary);
      border-top: .1rem solid #aaa;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .navbar a{
      display: block;
      margin: 2rem;
      color: var(--light-black);
   }

}

@media(max-width:500px){

   html{
      font-size: 50%;
   }

   .newsletter .content{
      max-width: 100%;
   }

}